*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.navbar{
width: 100%;
background-color: white;
top: 0;
left: 0;
z-index: 1000;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login{
max-width: 400px;
min-width: 400px;
background-color: transparent;
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 20px;
backdrop-filter: blur(55px);
display: flex;
justify-content: center;
align-items: center;
padding: 2rem 3rem;
margin: 50px;
}
h1{
font-size: 2rem;
color: white;
text-align: center;
}
button{
width: 100%;
height: 40px;
background-color: rgb(255, 255, 255, 1);
border: none;
cursor: pointer;
font-size: 1rem;
font-weight: 600;
border-radius: 40px;
transition: all 0.4s ease;
}
button:hover{
background-color: rgba(255, 255, 255, 0.5);
}
.register{
font-size: 0.9rem;
color: white;
text-align: center;
margin: 25px 0 10px;
}
.register p a{
color: white;
text-decoration: none;
font-weight: 600;
}
.register p a:hover{
text-decoration: underline;
}
.inputbox{
position: relative;
margin: 30px 0;
width: 100%;
border-bottom: 2px solid white;
}
.inputbox label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
color: white;
font-size: 1rem;
pointer-events: none;
transition: all 0.5s ease-in-out;
}
.inputbox input{
width: 100%;
background: none;
border: none;
outline: none;
color: white;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.forget{
margin: 35px 0;
font-size: 0.85rem;
color: white;
display: flex;
justify-content: space-between;
}
.forget label{
display: flex;
align-items: center;
}
.forget label input{
margin-right: 3px;
}
.forget a{
color: white;
text-decoration: none;
font-weight: 600;
}
.forget a:hover{
text-decoration: underline;
}
nav{
background-color: white;
}

section{
background-image: url(../../home/img/Fondo.jpeg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: white;
text-align: center;
font-size: 20px;
padding: 450px 20px;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.navbar-brand{
margin-left: 75vh;
}
@media (max-width: 768px) {
.login {
    padding: 2rem 1.5rem;
    min-width: auto;
}
.navbar-brand{
    margin-left: 32vh;
}
}

@media (max-width: 576px) {
h1 {
    font-size: 1.5rem;
}
button {
    height: 35px;
    font-size: 0.9rem;
}
section {
    padding: 60px 10px;
}
.navbar-brand{
    margin-left: 18vh;
}
}

.payment-form {
background-color: rgba(255, 255, 255, 0.1);
border-radius: 15px;
padding: 20px;
max-width: 400px;
margin: auto;
color: white;
}

.form-group {
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}

.inputbox {
position: relative;
margin-bottom: 20px;
}

.inputbox input {
width: 100%;
padding: 10px;
background: none;
border: none;
border-bottom: 1px solid white;
color: white;
font-size: 16px;
}

.inputbox label {
position: absolute;
top: 0;
left: 0;
pointer-events: none;
transition: 0.5s;
color: white;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
top: -20px;
left: 0;
color: white;
font-size: 12px;
}

.form-row {
display: flex;
justify-content: space-between;
}

.form-row .inputbox {
width: 30%;
}

button {
background-color: #890cac;
color: white;
border-radius: 50px;
width: 100%;
border: none;
cursor: pointer;
transition: all 0.4s ease;
}
button:hover{
    color: black;
}
.fa-brands{
font-size: 50px;
}
::placeholder{
    color: white;
    font-size: 1rem;
}
#expiry-month{
    font-size: 10px;
}