*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-nav{
    background-color: #890cac;
    border-radius: 5px;
}
.nav1{
    margin-right: auto;
    margin-left: auto;
}
.log{
    margin-right: 5%;
    color: black;
    font-weight: bold;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin: 8px;
    
}

section{
    background-image: url(../../home/img/Fondo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 450px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}

.navbar-brand{
    margin-left: 75vh;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
}

.privacy-content {
    text-align: justify;
    margin: 20px 0;
}

.privacy-content h1 {
    margin-bottom: 20px;
}

.privacy-content h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.privacy-content p, .privacy-content li {
    line-height: 1.6;
}

.privacy-content ul {
    padding-left: 20px;
}

.privacy-content ul li {
    margin-bottom: 10px;
}

.privacy-content a {
    text-decoration: none;
}

.privacy-content a:hover {
    text-decoration: underline;
}
footer {
    background-color: white;
    text-align: left;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    overflow-x: hidden;
}

/* Estilo para los enlaces de ayuda en el footer */
.footer-links ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-links a {
    text-decoration: none;
    color: #6c757d;
    margin-right: 15px; /* Espacio entre los enlaces */
}